@import '../../css/globals.scss';
.my-work {
    margin-top: 10%;
    background: $text_3;
    display: flex;
    flex-direction: column;
    align-items: center;
    .selector {
        span {
            background: $text_2;
            padding: 5px;
            margin: 2px;
            font-size: 1.5em;
            border-radius: 10px;
        }
    }
    .cards {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}