@import '../../css/globals.scss';
.about-me {
    margin-top: 10%;
    font-size: 1.5em;
    color: $text_2;
    line-height: 2em;
    a {
        cursor: pointer;
        text-decoration: none;
    }
    .change-on-hover:hover {
        color: $text_1;
        font-weight: lighter;
    }
    .stack {
        margin-top: 30px;
        .frontend,
        .backend,
        .database {
            display: flex;
            justify-content: space-evenly;
        }
        .items {
            display: flex;
            justify-content: center;
            i,
            img {
                margin-right: 16px;
            }
        }
    }
}